<template>
  <div>
    <div v-if="url_resolved">
      <!--Resolved: {{ edison_url }}-->

      <div v-if="authenticated">
        <router-view :auth="token" :url="edison_url"
                     v-on:logout="onLogout"></router-view>
      </div>
      <div v-else>
        <login-view :edison-url="edison_url" :logged-out="logged_out"
                    v-on:authenticated="onAuth"></login-view>
      </div>

    </div>
    <div v-else-if="resolve_failed">
      <url-resolver v-on:url-resolved="edison_found"></url-resolver>
    </div>
    <div v-else-if="!url_resolved && resolve_failed">
      <!--Not res: {{ edison_url }}-->

    </div>
  </div>
</template>

<script>
  import * as axios from "axios";
  import * as Resolver from "./Resolver.vue";
  import * as Login from "./Login.vue";

  export default {
    name: 'app',
    data() {
      return {
        url_resolved: false,
        resolve_failed: false,
        edison_url: '',
        authenticated: false,
        token: '',
        logged_out: false,
      };
    },
    components: {
      "url-resolver": Resolver,
      "login-view": Login
    },
    created: function () {
      // check if running in browser
      let app = document.URL.indexOf('http://') === -1 && document.URL.indexOf('https://') === -1;

      // TODO change to !app in production
      if (!app && !window.cordova) {
        let url = document.origin;

        axios.get(`${url}/api/test`, {timeout: 6000}).then(r => {
          this.url_resolved = true;
          this.edison_url = url;
        }).catch(e => {
          this.tryResolve();
        });
        return;
      }

      this.tryResolve();


    },

    methods: {
      edison_found(url) {
        this.edison_url = url;
        this.url_resolved = true;
        this.resolve_failed = false;
      },

      onAuth(token) {
        this.token = token;
        this.authenticated = true;
        this.logged_out = false;
      },

      onLogout() {
        this.logged_out = true;
        this.authenticated = false;
        this.token = null;
        localStorage.removeItem('user');
        localStorage.removeItem('token');
      },
      tryResolve() {
        axios.get("http://35.157.167.40:5050/edison").then(r => {
          let url = r.data.edison_url;
          return axios.get(`${url}/api/test`, {timeout: 6000}).then(r => {
            this.url_resolved = true;
            this.edison_url = url;
          })
        }).catch(e => {
          this.resolve_failed = true;
        });
      }
    }
  };
</script>
