<template>
  <div>
    <div class="container">

      <div class="header text-center">

        <h1><span
          class="glyphicon glyphicon-road"
          aria-hidden="true"></span> <br>IoT Light Control</h1></div>

      <div class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>

        <label for="inputUser" class="sr-only">Email address</label>
        <input type="text" id="inputUser" required="" autofocus=""
               class="form-control" placeholder="Username" v-model="username">

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control"
               placeholder="Password" required="" v-model="password">

        <button class="btn btn-lg btn-primary btn-block"
                @click="submitForm('login')">Log in
        </button>
        <button class="btn btn-lg btn-success btn-block"
                @click="submitForm('register')">Register
        </button>
      </div>
      {{ response }}

    </div>


  </div>
</template>

<script>
  import * as axios from "axios";
  export default {
    name: 'login',
    props: ['edisonUrl', 'loggedOut'],
    data() {
      return {
        username: '',
        password: '',
        response: ''
      };
    },

    created() {
      if (!this.loggedOut && localStorage.user) {
        let auth = {
          user: localStorage.user,
          token: localStorage.token
        };
        this.$emit('authenticated', auth);
      }
    },

    methods: {
      submitForm(action) {
        let data = {
          username: this.username,
          password: this.password
        };

        this.response = '';

        axios.post(`${this.edisonUrl}/api/${action}`, data).then(r => {
          let token = r.data.token;
          if (token) {
            let authData = {user: data.username, token: token};
            localStorage.setItem('user', authData.user);
            localStorage.setItem('token', authData.token);
            this.$emit('authenticated', authData);
          }
        }).catch(e => {
          this.response = `Error: ${e.response.data.error}`;
        });
      }
    }


  };
</script>
