<template>
  <div>
    <navbar selected="home" :auth="auth" v-on:logout="$emit('logout')"></navbar>
    <div class="container">
      <h1>Home</h1>
      <h2>Welcome, {{ auth.user }}</h2>
      <road-situation :url="url"></road-situation>
      <p>Barrier is <b>{{ barrierOpen ? 'open' : 'closed' }}. </b></p>
      <button class="btn btn-default" @click="toggleBarrier">
        {{ barrierOpen ? 'Close' : 'Open' }} Barrier

      </button>
      <br>
      <router-link to="/settings" class="btn btn-default">Settings</router-link>
    </div>
  </div>
</template>

<script>
  import * as axios from 'axios';
  import Navbar from './Navbar.vue';
  import RoadSituation from './RoadSituation.vue';

  export default {
    name: 'main',
    props: ['auth', 'url'],
    data() {
      return {
        error: 'Hello World!',
        barrierOpen: false
      };
    },
    components: {
      'navbar': Navbar,
      'road-situation': RoadSituation
    },

    methods: {
      toggleBarrier() {
        let newState = !this.barrierOpen;
        axios.put(`${this.url}/api/barrier`, {
          token: this.auth.token,
          barrierOpen: newState
        }).then(r => {
          this.barrierOpen = newState;
        });
      }
    },

    created() {
      let cfg = {
        headers: {"X-Auth-Token": this.auth.token}
      };
      axios.get(`${this.url}/api/barrier`, cfg).then(r => {
        this.barrierOpen = r.data.barrierOpen;
      });

    }
  };
</script>
