<template>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand"><span
          class="glyphicon glyphicon-road"
          aria-hidden="true"></span> IoT Traffic Light
        </div>
      </div>
      <div id="navbar" class="navbar-collapse collapse" aria-expanded="false"
           style="height: 1px;">
        <ul class="nav navbar-nav">
          <li v-bind:class="{ active: selected=='home' }">
            <router-link to="/">
              <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
              Home

            </router-link>
          </li>
          <li v-bind:class="{ active: selected=='settings' }">
            <router-link to="/settings">
              <span class="glyphicon glyphicon-wrench"
                    aria-hidden="true"></span>
              Settings
            </router-link>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><div class="navbar-text active">Welcome, {{ auth.user }}</div></li>
          <li><a @click="$emit('logout')">Logout</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
</template>

<script>
  export default {
    name: 'navbar',
    props: ['selected', 'auth']
  };
</script>
