<template>
  <div class="container">
    <h1>Oops, Edison not found! :(</h1>

    Seems like edison is not found. If you know the IP address of edison please enter it below:
    <br>
    <div class="">
      <div class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Edison address"
                 v-model="edison_url">
        </div>
        <button class="btn btn-default" @click="tryResolve">Find</button>
      </div>
    </div>
    {{ error }}


  </div>

</template>

<script>
  import * as axios from "axios";
  export default {
    name: 'url-resolver',
    data() {
      return {
        error: '',
        edison_url: '',
      };
    },
    methods: {
      tryResolve() {
        this.error = '';
        axios.get(`http://${this.edison_url}/api/test`, {timeout: 6000}).then(r => {
          this.$emit('url-resolved', `http://${this.edison_url}`);
        }).catch( e => {
          this.error = 'Address not found'
        })
      }
    }
  };
</script>
