<template>
  <div v-if="loaded" class="road-situation">
    <div v-if="status === 0">first: {{ first }}, second: {{ second }}</div>
    <div v-if="status === -1">Smart Light module is not initialized yet.</div>
    <div v-if="status === -2">Object detection failed</div>
    <button class="btn btn-default" @click="getStatus()">Update road situation</button>
  </div>
</template>

<script>
  import * as axios from "axios";

  export default {
    name: 'main',

    props: ['url'],
    data() {
      return {
        loaded: false,
        status: 1,
        first: 0,
        second: 0,
        error: ''
      };
    },

    created() {
      this.getStatus().then(r => {
        this.loaded = true;
      });
    },

    methods: {
      getStatus() {
        return axios.get(`${this.url}/api/status`).then(r => {
          this.status = r.data.status;

          if (this.status === 0) {
            this.first = r.data.first;
            this.second = r.data.second;
          }
        }).catch(e => {
          this.error = 'Address not found'
        });
      }
    }
  };
</script>
