<template>
  <div>
    <navbar selected="settings" :auth="auth"
            v-on:logout="$emit('logout')"></navbar>
    <div class="container">
      <h1>Settings</h1>

      <div class="checkbox">
        <label>
          <input type="checkbox" v-model="settings.smartLight"> Enable smart light control
          </label>
      </div>

      <div class="form-group">
        <label for="red-input">Red duration</label>

        <input class="form-control" type="number" id="red-input"
               :disabled="settings.smartLight"
               v-model="settings.redDuration">
      </div>

      <div class="form-group">
        <label for="green-input">Green duration</label>
        <input class="form-control" :disabled="settings.smartLight"
               type="number" id="green-input"
               v-model="settings.greenDuration">
      </div>

      <div class="form-group">
        <label for="barrier-height">Barrier height %</label>
        <input class="form-control" type="number" id="barrier-height"
               v-model="settings.barrierHeight">
      </div>

      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default" @click="saveSettings">
          Save settings



        </button>
        <button type="button" class="btn btn-default" @click="onCancel">Cancel



        </button>
      </div>

      <p>{{ text }}</p>
    </div>
  </div>
</template>

<script>
  import Navbar from './Navbar.vue';
  import * as router from "vue-router";
  import * as axios from 'axios';

  export default {
    name: 'settings',
    data() {
      return {
        text: '',
        settings: {}
      };
    },
    props: ['auth', 'url'],
    methods: {
      saveSettings() {
        let cfg = {
          headers: {"X-Auth-Token": this.auth.token}
        };
        axios.put(`${this.url}/api/settings`, this.settings, cfg).then(r => {
          if (r.status === 200) {
            this.text = 'Settings saved';
          }
        })
          .catch(e => {
            this.text = `ERROR: ${JSON.stringify(e)}`;
          });
      },
      onCancel() {
        this.$router.go(-1);
      },
    },
    components: {
      'navbar': Navbar
    },
    created() {
      let cfg = {
        headers: {"X-Auth-Token": this.auth.token}
      };
      axios.get(`${this.url}/api/settings`, cfg).then(r => {
        this.settings = r.data.settings;
      });
    }
  };
</script>
